.headerTitle {
	font-size: 20px;
	color: #e0e4e7;
	font-family: 'Playball', cursive;
	text-shadow: 2px 2px 2px #aaa;
	padding: 10px;
}

.room {
	overflow: auto;
}

.room_name {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	color: #43b19b;
	text-shadow: 0.1em 0.1em 0.1em black;
}

.room_description {
	font-size: 14px;
	font-style: italic;
	padding: 0 0 10px 10px;
	color: #2e9f63;
}

.message_timestamp {
	font-style: italic;
	font-size: 11px;
	color: #969696;
}

.message_user {
	font-weight: bold;
}

.room_enter_user {
	font-style: italic;
	font-weight: bold;
	padding: 1px 0 1px 0;
	color: #28cd17;
}

.room_exit_user {
	font-style: italic;
	font-weight: bold;
	padding: 1px 0 1px 0;
	color: #ff0b0b;
}

.help {
	padding: 5px;
}

.help_section {
	padding: 0 0 2px 0;
}

.help_title {
	font-size: 20px;
	padding-bottom: 2px;
	text-decoration: underline;
}

.help_body {
	font-size: 14px;
	padding: 0 0 0 5px;
}

.room_protected {
    background: url(images/lock.png) no-repeat right !important;
}
